.burgerContainer {
    width: 100%;
    margin: auto;
    height: 400px;
    text-align: center;
    font-weight: bold;
    font-size: 1.2rem;
    max-width: 600px
}

@media (min-width: 500px) and (max-height: 400px){
    .burgerContainer{
        width:350px;
        height: 300px;
    }

}


@media (min-width: 500px) and (max-height: 401px){
    .burgerContainer{
        width:450px;
        height: 400px;

    }

}


@media (min-width: 1000px) and (max-height: 700px){
    .burgerContainer{
        width:700px;
        height: 600px;

    }
    
}

